html {
    position: relative;
    min-height: 100%;
}
body {
    position: relative;
}

/* This is how to keep the scroll bar fixed to the top of the screen when the scrolling starts and to keep it at 100% width */
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    border: 0;
    margin-bottom: 70px;
    box-shadow: 0px 5px 5px grey;
}


#nav.affix-top {
    margin-bottom: 0px;  
    
}

nav {
    margin-bottom: 0px;
}

.navbar {
    
    width: 100%;   
    border: 0px;
    margin-bottom: 0px;
    z-index: 999;
}


/*
.navbar-form input, .form-inline input {
	width:auto;
}
*/

h1 {
    margin-bottom: 50px;
    margin-top: 50px;

}
#home {
    background: url(images/tulum-nonickie-2mb.png) 50% -100px fixed;
    background-size: cover;
    height: 500px;
    margin: 0 auto;
    width: 100%;
    
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 0px 0;
    
}

.jumbotron {
    height: 500px;
    margin-bottom: 0px;
    background: none;
/*  background-image: url(images/background.JPG);
    background-repeat: no-repeat;
    background-size:cover;
   */ 
}
#home h1 {
    color: white;
    font-size: 5em;
    text-shadow: 1px 1px 4px black;
}

#home h2 {
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 1px 4px black;
}
#home small {
    color: aqua;
    text-shadow: 1px 1px 4px black;
}

.container {
    border-radius: 10px;   
}

#about {
    box-shadow: 5px 5px 5px white;
    margin-top: 70px;
    margin-bottom: 50px;
}

#about p {
      padding-bottom: 20px; 
}

#about h1 {
    text-shadow: 2px 2px 2px grey;   
}
/* #about img {
    float: left;
    max-height: 25%;
    max-width: 25%
} */

.vertical{
    transform: rotate(90deg);
    height: auto;
    width: auto;
    float: none;
}

#skills {
    /*Photo from Lifehacker, figure out how to obtain rights to use*/
    background: url(images/skills.jpg) 0 10% fixed;  
    background-size: cover;
    margin: -.5em;
    padding-bottom: 50px;
}
#skills h1 {
    color: white;
    text-shadow: 1px 1px 5px black;   
}

#skillset {
    background-color: beige;
    box-shadow: 5px 5px 5px darkgray;
    margin-bottom: 50px;
}
#skillset ul{
    box-shadow: 1px 1px 20px bisque;
}
#languages {
    background-color: azure;
    box-shadow: 2px 2px 5px grey;
}

#portfolio {
    
    box-shadow: 5px 5px 5px white;
    background-color: black;
    color: azure;
    text-shadow: 5px 2px 25px white;
    
}

#portfolio img {
    box-shadow: 1px 1px 5px grey;
    margin-bottom: 10px;
    
}

#carousel-example-generic {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#work {
    /* Stock Photo by Viktor Hanacek from picjumbo.com, Royalty Free, Restriction Free*/
    background: url(images/picjumbo.com_HNCK4400.jpg) 0 20% fixed;
    background-size: cover;
    padding-bottom: 50px;
}
#work h1 {
    text-shadow: 2px 2px 5px white;   
}
#ecmpublishers {
    background-color: #00476d;
    color: white;
    box-shadow: 5px 5px 5px black;
}
#ecmpublishers h2 {
    text-shadow: 2px 2px 10px black;   
}
#ecmpublishers h3 {
    text-shadow: 2px 2px 10px black;  
}
#ecmpublishers h4 {
    text-shadow: 2px 2px 10px black;  
}
#education {
    box-shadow: 5px 5px 5px white;
    background: url(images/education.jpg) 0 10% fixed;
    background-size: cover;
    padding-bottom: 50px;
}
#education h1 {
    color: azure;
    text-shadow: 5px 2px 25px black;
}

#hennepintech {
    box-shadow: 5px 5px 5px black;
    background: #f26522; 
    color: #ffffff;
    border-color: #ed560e;
    font-family: "Din", Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

#hennepintech h2 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;
    
}

#hennepintech h3 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;
    
}
#hennepintech h4 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;    
}

#hennepintech ul {
    box-shadow: 1px 1px 20px #ed9500;   
}

#stcloud {
    box-shadow: 5px 5px 5px black;
    margin-top: 50px;
    background-color: #a72c2d; 
    color: #ffffff;
    border-color: #ed560e;
    font-family: "Din", Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

#stcloud h2 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;   
}
#stcloud h3 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;   
}
#stcloud h4 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;   
}
#stcloud ul {
    box-shadow: 1px 1px 10px #ed5666;   
}

footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: black;
    color: grey;
    text-align: center;
    padding: 5px;
    
}


/*Media query, iPhone6 size device for the headers text */
@media screen and (max-width: 550px) {
    
#home h1 {
    font-size: 3.5em;   
}
#home h2 {
    font-size:1.5em;
}
    
    
    
/*End media query 550px*/    }

/*Media query, iPhone4 & 5 size device for the headers text */
@media screen and (max-width: 350px) {
#home {
    background-position: 50% 0px;
}
#home h1 {
    font-size: 3em;   
}
#home h2 {
    font-size:1.5em;
}
    
    
    
/*End media query 550px*/    }

/*Media query, For high resolutions */
@media screen and (min-width: 1000px) {
#home {
    background-position: 50% -200px;
}
        
/*End media query 1920px*/    }

/*Media query, For high resolutions */
@media screen and (min-width: 1920px) {
#home {
    background-position: 50% -550px;
}
        
/*End media query 1920px*/    }
