html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    margin-bottom: 30px;
    overflow-x: hidden;
}
h1 {
    font-size: 50px;   
    font-weight: 600;
}
h2 {
    font-size: 36px;   
}
h3 {
    font-size: 28px;
}
p {
    font-size: 18px;
}
li {
    font-size: 18px;   
}
a {
    color: inherit;
    text-decoration: none;
}
a:active {
    color: inherit;
    text-decoration: none;
}
a:link {
    color: inherit;
    text-decoration: none;
}
a:visited {
  color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
/* This is how to keep the scroll bar fixed to the top of the screen when the scrolling starts and to keep it at 100% width */

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    border: 0;
    margin-bottom: 70px;
    box-shadow: 0px 5px 5px grey;
}

#nav.affix-top {
    margin-bottom: 0px;
}

nav {
    margin-bottom: 0px;
}

.navbar {
    width: 100%;
    border: 0px;
    margin-bottom: 0px;
    z-index: 999;
}
/*
.navbar-form input, .form-inline input {
	width:auto;
}
*/

h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}

#home {
    background: url(images/tulum-nonickie-cropped.png) 50% 0px fixed;
    background-size: cover;
    height: 500px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    padding: 0px 0;
}
.phonenumber {
    pointer-events: none;   
}
.jumbotron {
    height: 500px;
    margin-bottom: 0px;
    background: none;
    /*  background-image: url(images/background.JPG);
    background-repeat: no-repeat;
    background-size:cover;
   */
}

#home h1 {
    color: white;
    font-size: 5em;
    text-shadow: 1px 1px 4px black;
}

#home h2 {
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 1px 4px black;
}

#home small {
    color: aqua;
    text-shadow: 1px 1px 4px black;
}

.container {
    border-radius: 10px;
}
/* #about.fixedheader {
    margin-top: 30px;   
} */

#about {
    box-shadow: 5px 5px 5px white;
    margin-top: 50px;
    margin-bottom: 70px;
}

#about p {
    padding-bottom: 20px;
}

#about h1 {
    text-shadow: 2px 2px 2px grey;
}
/* #about img {
    float: left;
    max-height: 25%;
    max-width: 25%
} */

.vertical {
    transform: rotate(90deg);
    height: auto;
    width: auto;
    float: none;
}

#skills {
    /*Photo from Lifehacker, figure out how to obtain rights to use*/
    
    background: url(images/skills.jpg) 0 10% fixed;
    background-size: cover;
    padding-bottom: 50px;
}

#skills h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
}

#skillset {
    background-color: beige;
    box-shadow: 5px 5px 5px darkgray;
    margin-bottom: 50px;
}

#skillset ul {
    box-shadow: 1px 1px 20px bisque;
}

#languages {
    background-color: azure;
    box-shadow: 2px 2px 5px grey;
}

.portfolio_head {
    background-color: #FFA45E;
    text-shadow: 2px 2px 2px black;
}

#portfolio {
    box-shadow: 5px 5px 5px white;
    /*    background-color: black; */
    
    color: white;
}

.portfolio {
    position: relative;
    min-height: 500px;
    max-height: 700px;
    height: 100vh;
}

.portfolio_item {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 50%;
    height: 50%;
}

.portfolio_item_content {
    position: absolute;
    left: 10%;
    right: 80%;
    bottom: 48px;
}

.portfolio_item_title {
    display: block;
    width: 100%;
    overflow: visible;
    position: relative;
    font: 450% 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio_item:hover .portfolio_item_content {
    bottom: 100px;
}

.portfolio_item:hover .portfolio_item_2 {
    position: absolute;
    left: 60px;
    right: 60px;
    bottom: 200px;
}

.rollover-text {
    visibility: hidden;
    font: 40% 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio_item:hover .rollover-text {
    position: relative;
    bottom: 50px;
    visibility: visible;
    font: 30% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    opacity: 1;
}

.portfolio_item_1 {
    background-color: #4ED477;
    height: 100%;
}

.portfolio_item_1:hover {
    background-color: #53A76C;
    height: 100%;
    position: absolute;
}

.portfolio_item_2 {
    background-color: #46C0B7;
    left: 50%;
}

.portfolio_item_2:hover {
    background-color: #499C96;
}

.portfolio_item_3 {
    background-color: #FF745E;
    left: 50%;
    top: 50%;
}

.portfolio_item_3:hover {
    background-color: #FF634B;
}

#portfolio img {
    box-shadow: 1px 1px 5px black;
    margin-bottom: 10px;
}

.overlay {
    background: rgba(62, 138, 159, 0.7);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 900;
    box-shadow: 10px 10px 10px black;
}

.overlay2 {
    background: rgba(117, 228, 151, 0.7);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 900;
    box-shadow: 10px 10px 10px black;
}

.overlay3 {
    background: rgba(255, 148, 131, 0.7);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 900;
    box-shadow: 10px 10px 10px black;
}

.box {
    position: fixed;
    top: -2000px;
    left: 10%;
    right: 10%;
    background-color: #46C0B7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 5px black;
    z-index: 901;
    overflow-y: scroll;
}

.box2 {
    position: fixed;
    top: -2000px;
    left: 10%;
    right: 10%;
    background-color: #4ED477;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 5px black;
    z-index: 901;
}

.box3 {
    position: fixed;
    top: -2000px;
    left: 10%;
    right: 10%;
    background-color: #FF745E;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 5px black;
    z-index: 901;
}

.box-content {
    height: 500px;
    position: static;
    overflow: auto;
    overflow-x: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.box img {
    max-height: 100%;
    max-width: 100%;
}

a.boxclose {
    float: right;
    width: 32px;
    height: 32px;
    background: transparent url(images/Close_button__32.png) no-repeat top left;
    margin-top: -20px;
    margin-right: -20px;
    cursor: pointer;
}

a.boxclose2 {
    float: right;
    width: 32px;
    height: 32px;
    background: transparent url(images/Close_button__32.png) no-repeat top left;
    margin-top: -20px;
    margin-right: -20px;
    cursor: pointer;
}

a.boxclose3 {
    float: right;
    width: 32px;
    height: 32px;
    background: transparent url(images/Close_button__32.png) no-repeat top left;
    margin-top: -20px;
    margin-right: -20px;
    cursor: pointer;
}

.box h1 {
    text-align: center;
    margin: -20px -20px 0px -20px;
    padding: 10px;
    background-color: #46C0B7;
    color: white;
    border-radius: 20px 20px 0px 0px;
}

.box2 h1 {
    text-align: center;
    margin: -20px -20px 0px -20px;
    padding: 10px;
    background-color: #4ED477;
    color: white;
    border-radius: 20px 20px 0px 0px;
}
.box2 p {
    padding-top: 20px;   
}
.box3 {
    padding-top: 20px;   
}
.box3 h1 {
    text-align: center;
    margin: -20px -20px 0px -20px;
    padding: 10px;
    background-color: #FF745E;
    color: white;
    border-radius: 20px 20px 0px 0px;
}
.box3 img {
    margin-bottom: 10px;   
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#carousel-example-generic {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#work {
    /* Stock Photo by Viktor Hanacek from picjumbo.com, Royalty Free, Restriction Free*/
    
    background: url(images/picjumbo.com_HNCK4400.jpg) 0 20% fixed;
    background-size: cover;
    padding-bottom: 50px;
}

#work h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
}

#ecmpublishers {
    background-color: #00476d;
    color: white;
    box-shadow: 5px 5px 5px black;
}

#ecmpublishers h2 {
    text-shadow: 2px 2px 10px black;
}

#ecmpublishers h3 {
    text-shadow: 2px 2px 10px black;
}

#ecmpublishers h4 {
    text-shadow: 2px 2px 10px black;
}
#ecmpublishers ul {
    box-shadow: 1px 1px 20px #594BCB;
}

#education {
    box-shadow: 2px 2px 5px white;
    background: url(images/education.jpg) 0 10% fixed;
    background-size: cover;
    padding-bottom: 50px;
}

#education h1 {
    color: azure;
    text-shadow: 5px 2px 2px black;
}

#hennepintech {
    box-shadow: 5px 5px 5px black;
    background: #f26522;
    color: #ffffff;
    border-color: #ed560e;
    font-family: "Din", Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

#hennepintech h2 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;
}

#hennepintech h3 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;
}

#hennepintech h4 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;
}

#hennepintech ul {
    box-shadow: 1px 1px 20px #ed9500;
}

#stcloud {
    box-shadow: 5px 5px 5px black;
    margin-top: 50px;
    background-color: #a72c2d;
    color: #ffffff;
    border-color: #ed560e;
    font-family: "Din", Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

#stcloud h2 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;
}

#stcloud h3 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;
}

#stcloud h4 {
    text-shadow: 1px 1px 10px black;
    font-family: "Din", Arial, Helvetica, sans-serif;
}

#stcloud ul {
    box-shadow: 1px 1px 10px #ed5666;
}

footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: black;
    color: grey;
    text-align: center;
    padding: 5px;
}

/*Media query, 750px fixes some realignment stuff*/

@media screen and (max-width: 750px) {
    .box img {
        max-height: 50%;
        max-width: 50%;
    }

    /*Media query, 750px */
    /*Media query, 700px fixes some realignment stuff*/
}

@media screen and (max-width: 700px) {
    .portfolio_item_title {
        font: 300% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .portfolio_item:hover .rollover-text {
        bottom: 30px;
    }
    .box img {
        max-height: 100%;
        max-width: 100%;
    }
                .phonenumber {
    pointer-events: visible;  
}
}
/*Media query, 700px */

@media screen and (max-width: 550px) {
    #home {
        background-position: 50% -100px;
        background-size: auto;
        background-repeat: no-repeat;
    }
    #home h1 {
        font-size: 3.5em;
    }
    #home h2 {
        font-size: 1.5em;
    }
    .portfolio_item_title {
        font: 200% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .portfolio_item:hover .rollover-text {
        bottom: 25px;
    }
    .portfolio {
        position: relative;
        min-height: 480px;
        max-height: 500px;
        height: auto;
    }
    .box-content {
        height: 400px;
        
        
    }
            .phonenumber {
    pointer-events: visible;  
}
    /*End media query 550px*/
    /*Media query, iPhone4 & 5 size device for the headers text */
}
    @media screen and (max-width: 350px) {
        #home {
            background-position: 50% 0px;
            background-size: auto;
            background-repeat: no-repeat;
        }
        #home h1 {
            font-size: 3em;
        }
        #home h2 {
            font-size: 1.5em;
        }
        .phonenumber {
    pointer-events: visible;  
}
        .portfolio {
            position: relative;
            min-height: 300px;
            max-height: 500px;
            height: auto;
        }
        .box-content {
            height: 300px;
            /*End media query 550px*/
        }
        /*Media query, For high resolutions */
    }

    
    @media screen and (min-width: 1400px) {
        #home {
            background-position: 50% 0px;
        }
        /*End media query 1400px*/
    }
    /*Media query, For high resolutions */
    
    @media screen and (min-width: 1920px) {
        #home {
            background-position: 50% -100px;
        }
        /*End media query 1920px*/
    }
    /*Media query, For high resolutions */
    
    @media screen and (min-width: 2200px) {
        #home {
            background-position: 50% -200px;
        }
        /*End media query 2200px*/
    }